/* Desktop css */
@media screen and (min-width: 768px){
    #pag{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    #pMobile{display: none}
    #pDesktop{width: 330px; margin-right: 0; float: right}
    #news{width: 430px}



    .p1{height: 90px;background-color: red}
}

/* Mobile css */
@media screen and (max-width: 767px){
    #pag{
        position: fixed;
        top: 0;
        bottom: 90px;
        left: 0;
        right: 0
    }
    #pMobile{position: fixed;bottom: 0;height: 90px;width: 100%}
    #pDesktop{display: none}
}

#pag{overflow-y: auto}
#nav-container{width: 100%}
.affix{top:15px}
.affix + .container-fluid{padding-top: 72px}


.imgmid{height: 200px;width: 242px; float: left}



.imgcarousel{height: 100%; width: 100%;}
.hcenter{text-align: center;}
body, .white{background-color: white}
.footer{padding: 50px 0 50px; margin-top: 100px; background-color: #2a2730;color: #99979c}