/* Desktop css */
@media screen and (min-width: 768px){
.affix{
        top: 0;
        padding-top: 15px;
    }
    .affix + .container-fluid{
        padding-top: 72px;
    }
}

/* Mobile css */
@media screen and (max-width: 767px){
    #pag{
        position: fixed;
        top: 0;
        bottom: 90px;
        left: 0;
        right: 0
    }
    #p{position: fixed;bottom: 0;height: 90px;width: 100%}
    .affix{
        top: 0;
        padding-top: 15px;
        width: 100%;
    }
    .affix + .container-fluid{
        padding-top: 72px;
    }
}

/* Common css */
body{
    background-color: #f1f1f1
}
#pag{overflow-y: auto}
#jumbo{
    
}