/* Desktop css */
@media screen and (min-width: 768px){
    #pag{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
}

/* Mobile css */
@media screen and (max-width: 767px){
    #pag{
        position: fixed;
        top: 0;
        bottom: 90px;
        left: 0;
        right: 0
    }
    #p{position: fixed;bottom: 0;height: 90px;width: 100%}
}

/* Common css */
body{
    background-color: #f1f1f1
}

#pag{overflow-y: auto}

#nav-container{width: 100%}
.affix{top:15px}
.affix + .container-fluid{padding-top: 72px}